In [4]:
from __future__ import print_function

from pyspark.sql import SparkSession

from pyspark.sql import Row

from pyspark.sql.types import *

incidentDAT = sc.textFile("/home/ramsys/Dev/whitstable/data/incident.txt")
incidentDAT.count()

260364

In [5]:
incidentRDD = incidentDAT.map(lambda x: x.split("\t")).map(lambda x: Row(x[0], x[1], x[2], x[3], x[4], x[5], x[6] ))
incidentDFrame = incidentRDD.toDF(["gross_ton","vlength","vdepth","vessel_class","vessel_age","route_type","Accident"])
incidentDFrame.printSchema()
incidentDFrame.show(5)

root
 |-- gross_ton: string (nullable = true)
 |-- vlength: string (nullable = true)
 |-- vdepth: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- vessel_age: string (nullable = true)
 |-- route_type: string (nullable = true)
 |-- Accident: string (nullable = true)

+---------+-------+------+------------+----------+--------------------+--------+
|gross_ton|vlength|vdepth|vessel_class|vessel_age|          route_type|Accident|
+---------+-------+------+------------+----------+--------------------+--------+
|    159.0|   89.3|  12.0|Recreational|      70.0|         UNSPECIFIED|     Yes|
|      0.0|  250.0|  10.5|       Barge|      65.0|         UNSPECIFIED|     Yes|
|   9876.0|  459.8|  36.2|       Barge|      22.0|              Oceans|     Yes|
|   1830.0|  284.0|  11.2|       Barge|      53.0|"Lakes, Bays, and...|     Yes|
|   1983.0|  209.5|  12.5|    Offshore|      35.0|         UNSPECIFIED|     Yes|
+---------+-------+------+------------+----------+--------------------+--------+
only showing top 5 rows

In [7]:
incidentDFrame.createOrReplaceTempView("vessel")

#all Barges 
BargeNos = spark.sql("SELECT vessel_class FROM vessel WHERE vessel_class like 'Barge%'").count()
BargeNos

8848

In [8]:
vesselMaster = Row('VesselClass', 'Total')
vesselMasterList = ["Barge, 8848","Offshore, 2186","Fishing Vessel, 44944","Towing Vessel, 9678","General Dry Cargo Ship, 15316","Passenger Ship, 20887","Bulk Carrier, 7627","Miscellaneous Vessel, 7739","Tank Ship, 8348","UNSPECIFIED, 6255","Research Ship, 978","Warship, 344","Ro-Ro Cargo Ship, 1074","School Ship, 186","Refrigerated Cargo Ship, 568"] 
vesselMasterDF = sc.parallelize(vesselMasterList).map(lambda x: x.split(",")).map(lambda r: vesselMaster(*r)).toDF()
vesselMasterDF.show()

+--------------------+------+
|         VesselClass| Total|
+--------------------+------+
|               Barge|  8848|
|            Offshore|  2186|
|      Fishing Vessel| 44944|
|       Towing Vessel|  9678|
|General Dry Cargo...| 15316|
|      Passenger Ship| 20887|
|        Bulk Carrier|  7627|
|Miscellaneous Vessel|  7739|
|           Tank Ship|  8348|
|         UNSPECIFIED|  6255|
|       Research Ship|   978|
|             Warship|   344|
|    Ro-Ro Cargo Ship|  1074|
|         School Ship|   186|
|Refrigerated Carg...|   568|
+--------------------+------+